main_refactored.js
main_newsletterVersion.js
images/Author_Photo_Website_Red.jpg
images/pic01_MyBook.jpg
images/pic01_MyBookV2.jpg
images/pic01_MyBookV3.jpg
images/pic01_MyBookV4.jpg
images/pic01_MyPhoto.psd
images/pic01.jpg
images/pic02.jpg
images/pic03_MyBook.jpg
images/pic03_MyBookV2.jpg
images/pic03.jpg
images/pic04.jpg
images/pic05.jpg
images/pic06.jpg
images/signature.svg
images/signature_large_size_vector.png
assets/css/main_newsletterVersion.css
assets/css/images/intro_photo2.png
assets/css/images/intro_photo3.png
assets/css/images/intro_photo4.png
assets/css/images/intro_photo5.png
assets/css/images/intro_photo6.png
assets/css/images/intro_photo8.png
elements.html